.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 450px;
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  p {
    color: #555;
    margin: 5px 0;
  }
  
  /* Progress bars styling */
  .progress {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .line-container {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 5px 0;
    overflow: hidden;
  }
  
  .line {
    height: 100%;
    border-radius: 5px;
  }
  
  /* Button styling */
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .buttons button {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
    transition: background-color 0.3s ease;
  }
  
  .buttons button.yes {
    background-color: #4CAF50; /* Green */
  }
  
  .buttons button.no {
    background-color: #f44336; /* Red */
  }
  
  .buttons button.yes:hover {
    background-color: #45a049; /* Darker green */
  }
  
  .buttons button.no:hover {
    background-color: #e53935; /* Darker red */
  }